body {
    background-color: lightsteelblue;
}

.head{
    margin: auto;
    width: 50%;
    padding: 10px;
}

img{
    max-width: 95%;
    height: auto;
}

.pics:hover{
    transform: scale(1.1);
    opacity: 0.7;
    transition: 0.3s;
}

h1{
    color: #ff2222;
    font-size: 400%;

}

.title{
    text-align: center;
}

p{
    font-size: 140%;
}

.wrapper {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
  }

  .pictitle{
    
  }
  
  .box {
    border-radius: 5px;
    padding: 20px;
    font-size: 220%;

  }



  .foto{
    padding-bottom: 2em;
    width: 95%;
    height: auto;
  }

